<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="hidden-lg hidden-md hidden-sm" align="center">
            <h1>
                <a href="/">Régis Bamba</a>
            </h1>
        </div>
        <div class="visible-lg visible-md visible-sm">
            <div class="sidebar-about">
                <h3><a href="/">Hello</a></h3>
                <p>
                    <img src="/public/img/regis_portrait_1.jpg" width="200" style="display : inline" />
                </p>
                <p class="lead">{{ site.description }}</p>
            </div>
            
            <p>
                <a href="http://www.github.com/regisbamba" title="Github">
                    <img src="/public/img/github.png" width="32" style="display : inline" />
                </a>
                <a href="http://www.facebook.com/flinde.regis" title="Facebook">
                    <img src="/public/img/facebook.png" width="32" style="display : inline" />
                </a>
                <a href="http://www.twitter.com/regisbamba" title="Twitter">
                    <img src="/public/img/twitter.png" width="32" style="display : inline" />
                </a>
                <a href="mailto:regis@intelgeo.com" title="Email">
                    <img src="/public/img/email.png" width="32" style="display : inline" />
                </a>
                <a href="/atom.xml" title="Feed">
                    <img src="/public/img/feed.png" width="32" style="display : inline" />
                </a>
            </p>
            <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
        </div>
    </div>
</div>
